* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	font-size: 62.5%;
}

.Toastify {
	position: absolute;
	z-index: 999999;
	font-size: 16px;
}

.App {
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding-top: 10rem;
	gap: 5rem;
	overflow-y: scroll;
	scrollbar-width: none;

	@media screen and (max-width: 700px) {
		padding-top: 3rem;
	}

	&::-webkit-scrollbar {
		display: none;
	}

	.Container {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-width: 50rem;

		@media screen and (max-width: 700px) {
			width: 100%;
		}

		button {
			width: 20rem;
			padding: 2rem;
			border: none;
			cursor: pointer;
			border-radius: 1rem;
			color: #fff;
			font-size: 2rem;
			background: #00aeff;
			border: 1px solid #00aeff;
			transition: all 0.2s ease-in-out;

			&:hover {
				background: #006695;
			}

			&:disabled {
				background: #9c9c9c;
				cursor: default;
			}
		}

		.RecordBtn {
			margin-bottom: 5rem;
      @media screen and (max-width: 700px) {
        margin-bottom: 2rem;
      }
		}
		.StopBtn {
			border: 1px solid #f00;
			color: #f00;
			background: transparent;
			margin-bottom: 5rem;

			@media screen and (max-width: 700px) {
				margin-bottom: 2rem;
			}

			&:hover {
				background: #f00;
				color: #fff;
			}
		}

		.ButtonContainer {
			width: 100%;
			display: flex;
			justify-content: space-between;
			gap: 4rem;
			align-items: center;

			@media screen and (max-width: 700px) {
				flex-direction: column;
				gap: 1.5rem;
			}
		}
	}

	video {
		width: 50rem;
		box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.3);

		@media screen and (max-width: 700px) {
			width: 100%;
		}
	}
}
